.dial {
	background-color: #8225df;
	width: 100%;
	height: 100%;
	padding: 7%;
	animation: scaleOut ease-out 0.3s;
}

@keyframes scaleOut {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
