.dial__call-btn {
	display: flex;
	padding: 1rem 6rem;
	justify-content: center;
	background-color: #1feb41c4;
	border-radius: 100px;
	margin: 0 auto;
	color: #fefefe;
	border: none;
	outline: none;
	animation: scaleOut ease-out 0.3s;
}

.dial__call-btn:hover {
	background-color: #1af13ee5;
}

.dial__call-btn > i {
	font-size: 2rem;
}

@keyframes scaleOut {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
